# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

pandas
python-dotenv
sqlalchemy
psycopg2-binary
azure-ai-projects
azure-identity
azure-functions
opentelemetry-sdk
azure-monitor-opentelemetry
PyMuPDF
psycopg2
python-docx
openai
azure-storage-blob
langchain
flask
azure-ai-inference
flask-session